name: examples/http-python3.12-FastAPI-0.121.3 (stable)

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
    - '.github/workflows/example-http-python3.12-FastAPI-0.121.3-stable.yaml'
    - 'http-python3.12-FastAPI-0.121.3/**'
    - '!http-python3.12-FastAPI-0.121.3/README.md'
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]
    paths:
    - '.github/workflows/example-http-python3.12-FastAPI-0.121.3-stable.yaml'
    - 'http-python3.12-FastAPI-0.121.3/**'
    - '!http-python3.12-FastAPI-0.121.3/README.md'
  schedule:
  - cron: '0 2 * * 1-5'

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request_target' && github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  UKC_METRO: "https://api.${{ vars.UKC_METRO_STABLE }}.unikraft.cloud/v1"
  UKC_TOKEN: ${{ secrets.UKC_TOKEN }}
  KRAFTKIT_NO_CHECK_UPDATES: true
  KRAFTKIT_LOG_LEVEL: info

jobs:
  integration:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Deploy
      uses: unikraft/kraftkit@stable
      with:
        run: |
          set -xe;
          cd http-python3.12-FastAPI-0.121.3;
          kraft cloud deploy \
            --no-start \
            --memory 512 \
            --name fastapi-${GITHUB_RUN_ID} \
            --runtime index.unikraft.io/official/base-compat:latest \
            --subdomain fastapi-${GITHUB_RUN_ID} \
            -p 443:8080 \
            .;

    - name: Start & Test
      uses: unikraft/kraftkit@stable
      with:
        run: |
          set -xe;
          kraft cloud vm start -w 5s fastapi-${GITHUB_RUN_ID};
          sleep 5;
          curl -Lv --fail-with-body --max-time 10 \
            https://fastapi-${GITHUB_RUN_ID}.${{ vars.UKC_METRO_STABLE }}.unikraft.app/ \
            | grep -q '{"Hello":"World"}'

    - name: Cleanup
      uses: unikraft/kraftkit@stable
      if: always()
      with:
        run: |
          set -xe;
          kraft cloud vm stop fastapi-${GITHUB_RUN_ID} || true;
          kraft cloud vm logs fastapi-${GITHUB_RUN_ID} || true;
          kraft cloud vm rm fastapi-${GITHUB_RUN_ID} || true;
          kraft cloud img rm index.unikraft.io/test/fastapi-${GITHUB_RUN_ID} || true;
